

# Used in the interpolation of docker-compose.yml
DOMAIN_NAME=ghenriqu.42.fr
DATA_PATH=/home/ghenriqu/data

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user

# WordPress
WP_TITLE=Inception
WP_ADMIN_USER=boss
WP_ADMIN_EMAIL=boss@ghenriqu.42.fr
WP_USER=editor
WP_USER_EMAIL=editor@ghenriqu.42.fr

# FTP
FTP_USER=ftpuser
FTP_PASV_ADDRESS=127.0.0.1
