# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    Dockerfile                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: ghenriqu <ghenriqu@student.42porto.com>    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2026/05/10 18:42:07 by ghenriqu          #+#    #+#              #
#    Updated: 2026/05/16 21:15:09 by ghenriqu         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.DS_Store
Thumbs.db
*.swp
*.swo

.git
.gitignore
.gitkeep

*.md
