# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    50-server.cnf                                      :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: ghenriqu <ghenriqu@student.42porto.com>    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2026/07/22 22:54:03 by ghenriqu          #+#    #+#              #
#    Updated: 2026/07/22 22:54:20 by ghenriqu         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[mysqld]

bind-address = 0.0.0.0

datadir = /var/lib/mysql

socket = /run/mysqld/mysqld.sock

port = 3306
